#Print Function
1. print("Some value to print")
2. print("Some value", end = "/n")
3. print("Some value 1", "Some value 2")

In [ ]:
print("This is a DNA")

This is a DNA

# Data types in python

1. Integer  : 1, -2, 3, 5
2. Float : 1.2 etc
3. String: "ATGC"
4. Boolean: True, False

In [ ]:
# To get length of a sequence

len("ATGCCCT")

7

In [ ]:
#Storing in variables. It is also and array A, T, T... index starting from 0


seq= "ATTGGCCGATGA"
len(seq)

12

In [ ]:
seq[0]

'A'

In [ ]:
# String [start:stop] return from start and stop -1

seq[0:4]

'ATTG'

In [ ]:
seq[-5: -2]

'GAT'

In [ ]:
# will start from index 2 till end
seq[2:]

'TGGCCGATGA'

In [ ]:
seq[: 2]

'AT'

In [ ]:
type(seq)

str

## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [ ]:
False

False

In [ ]:
print(True,False)

True False

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
my_str='ATGCCTGATA'

In [ ]:
my_str.istitle()

False

In [ ]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('A')) #test if string endswith a d
print(my_str.startswith('a')) #test if string startswith H

True
True
False
False
True
False
False
True
False

### Boolean and Logical Operators

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
True or False

True

In [4]:
True or True

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [ ]:
type([])

list

In [ ]:
lst_example=[]

In [ ]:
type(lst_example)

list

In [ ]:
lst=list()

In [ ]:
type(lst)

list

In [ ]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [ ]:
len(lst)

6

In [ ]:
type(lst)

list

### Append

In [ ]:
#.append is used to add elements in the list
lst.append("ATGC")

In [ ]:
lst.append(["DNA","RNA"])

In [ ]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'ATGC', ['DNA', 'RNA']]

In [ ]:
##Indexing in List
lst[6]

'ATGC'

In [ ]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [ ]:
## insert in a specific order

lst.insert(2,"Protein")

In [ ]:
lst

['Mathematics',
 'chemistry',
 'Protein',
 100,
 200,
 300,
 204,
 'ATGC',
 ['DNA', 'RNA']]

In [ ]:
lst.append(["Hello","World"])

In [ ]:
lst

['Mathematics',
 'chemistry',
 'Protein',
 100,
 200,
 300,
 204,
 'ATGC',
 ['DNA', 'RNA'],
 ['Hello', 'World']]

In [ ]:
lst=[1,2,3]

In [ ]:
lst.append([4,5])

In [ ]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [ ]:
lst=[1,2,3,4,5,6]

In [ ]:
lst.extend([8,9])

In [ ]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [ ]:
lst=[1,2,3,4,5]

In [ ]:
sum(lst)

15

In [ ]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [ ]:
lst.pop()

5

In [ ]:
lst

[1, 2, 3, 4]

In [ ]:
lst.pop(0)

1

In [ ]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [ ]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [ ]:
#length:Calculates total length of List
len(lst)

6

In [ ]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [ ]:
##Min and Max
min(lst)

1

In [ ]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [ ]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [ ]:
set_var={1,2,3,4,3}

In [ ]:
set_var

{1, 2, 3, 4}

In [ ]:
set_var={"DNA","RNA",'Protein'}
print(set_var)
type(set_var)

{'DNA', 'RNA', 'Protein'}

set

In [ ]:
## Inbuilt function in sets

set_var.add("genome")

In [ ]:
print(set_var)

{'DNA', 'genome', 'RNA', 'Protein'}

In [ ]:
set1={"DNA","RNA",'Protein'}
set2={"DNA","RNA",'Protein','genome'}

In [ ]:
set2.intersection_update(set1)

In [ ]:
set2

{'DNA', 'Protein', 'RNA'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
dic={}

In [ ]:
type(dic)

dict

In [ ]:
type(dict())

dict

In [ ]:
set_ex={1,2,3,4,5}

In [ ]:
type(set_ex)

set

In [5]:
## Let create a dictionary

my_dict={"RNA": "ecoli", "Protein1":"galactosidase","Protein2":"lipase"}

In [6]:
type(my_dict)

dict

In [7]:
##Access the item values based on keys

my_dict['RNA']

'ecoli'

In [8]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

RNA
Protein1
Protein2

In [9]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

ecoli
galactosidase
lipase

In [10]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('RNA', 'ecoli')
('Protein1', 'galactosidase')
('Protein2', 'lipase')

In [11]:
## Adding items in Dictionaries

my_dict['Protein4']='Protease'

In [12]:
my_dict

{'Protein1': 'galactosidase',
 'Protein2': 'lipase',
 'Protein4': 'Protease',
 'RNA': 'ecoli'}

In [13]:
my_dict['Protein1']='reductase'

In [14]:
my_dict

{'Protein1': 'reductase',
 'Protein2': 'lipase',
 'Protein4': 'Protease',
 'RNA': 'ecoli'}

### Nested Dictionary

In [15]:
protein1_model={'Oxydoreductase':1}
protein2_model={'Transferase':2}
protein3_model={'Hydrolase':3}

ec_type={'ec1':protein1_model,'ec2':protein2_model,'ec3':protein3_model}

In [16]:
print(ec_type)

{'ec1': {'Oxydoreductase': 1}, 'ec2': {'Transferase': 2}, 'ec3': {'Hydrolase': 3}}

In [19]:
## Accessing the items in the dictionary

print(ec_type['ec1'])

{'Oxydoreductase': 1}

In [20]:
print(ec_type['ec1']['Oxydoreductase'])

1

## Tuples
Python tuples are a data structure that store an ordered sequence of values. Tuples are immutable. This means you cannot change the values in a tuple. Tuples are defined with parenthesis.

In [ ]:
## create an empty Tuples

my_tuple=tuple()

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple=()

In [ ]:
type(my_tuple)

tuple

In [21]:
my_tuple=("RNA","DNA","Protein")

In [22]:
my_tuple=('Hello','Biology')

In [23]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'Biology')

In [24]:
type(my_tuple)

tuple

In [25]:
## Inbuilt function
my_tuple.count('Hello')

1

In [26]:
my_tuple.index('Biology')

1